@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #212b36; */
  scrollbar-color: dark;
  background-image: url("../Images/classicbg.jpg"); 
  background-size: cover;
}

.image-border {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid white;
  background-image: url("../Images/avatar.jpeg");
  background-size: cover;
  object-fit: cover;
}

@media (min-width: 810px) {
  


.container {
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  backdrop-filter: blur(15px);
  border: 1px solid white;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
  color: white;
}

.container a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  backdrop-filter: blur(7px);
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 12px;
  width: 100%;
  color: black;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

h1 {
  color: white;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
  opacity: 1;
}

.container.active .sign-in {
  transform: translateX(30%);
}

.sign-up {
  left: 300px;
  width: 50%;
  opacity: 0;
  z-index: 0;
}

.container.active .sign-up {
  transform: translateX(22%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.container.active .sign-in {
  opacity: 0;
  z-index: 0;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 0;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}



}






@media (max-width: 810px) {

   .container {
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
  color: white;
}

.container a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 8px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  backdrop-filter: blur(7px);
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 12px;
  width: 100%;
  color: black;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0px;
  height: 50%;
  transition: all 0.6s ease-in-out;
}

h1{
  color: white;
  font-size: 1.7rem;
}

.sign-in {
  top: 3%;
  width: 70%;
  z-index: 2;
  opacity: 1;
}

.container.active .sign-in {
  transform: translateY(-30%);
}

.sign-up {
  top: 50%;
  width: 70%;
  opacity: 0;
  z-index: 0;
}

.container.active .sign-up {
  transform: translateY(-22%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.container.active .sign-in {
  opacity: 0;
  z-index: 0;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 0;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}



.container.active .toggle-container {
  transform: translateY(-200%);
  height: 30%;
  border-radius: 0 0 90px 90px;
}


.toggle-container {
  position: absolute;
  top: 60%;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 90px 90px 0 0;
  z-index: 1000;
}


.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateY(0);
}

.container.active .toggle-right {
  transform: translateY(200%);
}



.validationWarning {
  color: red;
}
}


@media (max-width: 380px) {

   .container {
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  border: 0px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 1.2rem;
}
}

@media (min-width: 380px ) and (max-width: 590px) {

   .container {
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
}
}

@media (min-width: 590px ) and (max-width: 810px) {

   .container {
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 64vw;
  height: 84vh;
  backdrop-filter: blur(20px);
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
}
}
